/*------------------------------------*\
****************************************


INDHOLDSFORTEGNELSE:
********************

1: VARIABLER
2. LAYOUT
3. TYPOGRAFI
4. HEADER
5. FOOTER
6. KNAPPER
7. ANIMATIONER
8. STYLING AF SPECIFIKKE SIDER
    8.1 FORSIDE
    8.2 ???
    8.3
    8.4
9. MEDIA QUERIES

****************************************
\*------------------------------------*/

/*------------------------------------*\
1: VARIABLER
\*------------------------------------*/

:root {
    /* Nøjagtig de samme farvekoder som anvendes på www.koga.com */
    --colorOne: #fff;
    --colorTwo: #EEEFEF;
    --colorThree: #656D73;
    --colorFour: #DCDCE5;
    --colorFive: #0E7DC7;
    --colorSix: #FF8700;
    --colorSeven: #E75F41;
    --colorEight: #B7D8EE;
    --colorNine: #27333B;
    --colorTen: #6E7D87;
    --colorTwelve: #313131;
    --colorThirteen: rgba(14, 125, 199, 0.8);
    --colorFourteen: rgba(14, 125, 199, 0.6);


}

/*------------------------------------*\
1. VARIABLER - SLUT
\*------------------------------------*/



/*------------------------------------*\
2. LAYOUT
\*------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEEFEF;
    color: var(--colorTwelve);
    overflow-wrap: break-word;
    hyphens: auto;
    font-family: Arial, Verdana, Sans-Serif;
}

main {}

img {
    width: 100%;
    height: auto;

}

ul {
    list-style: none;
}

/*------------------------------------*\
2. LAYOUT - SLUT
\*------------------------------------*/

/*------------------------------------*\
2. LAYOUT - SLUT
\*------------------------------------*/

/*------------------------------------*\
3. TYPOGRAFI
\*------------------------------------*/

/* @font-face */


/* KOGA benytter Futura på deres hjemmeside: https://fonts.adobe.com/fonts/futura-pt?red=a */

@font-face {
    font-family: '';
    src: url('') format('woff2'),
        url('') format('woff');
    font-weight: normal;
    font-style: normal
}

/* @font-face Slut */

h1 {
    /*    font-family: futura-pt,
Arial,
Helvetica,
Roboto,
sans-serif;*/
    /*    font-family: 'Racing Sans One',
cursive;*/
    /*    font-family: 'Wallpoet',
    cursive;*/
    /*    font-family: 'Bowlby One',
cursive;*/
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
    padding: 0 1rem;

}


h2 {
    text-transform: uppercase;
    /*    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;*/
    /*    font-family: 'Racing Sans One',
 cursive;*/
    /*    font-family: 'Wallpoet', cursive;*/
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
}

h3 {
    text-transform: uppercase;
    /*    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;*/
    /*    font-family: 'Wallpoet', cursive;*/
    font-family: 'Archivo Black', sans-serif;
    /*    font-family: 'Racing Sans One', cursive;*/
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    margin: 1rem 0;
}

h4 {
    /*    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;*/
    /*    font-family: 'Racing Sans One', cursive;*/
    /*    font-family: 'Bowlby One', cursive;*/
    /*    font-family: 'Wallpoet', cursive;*/

    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: normal;
}

p {
    font-family: Arial, Helvetica, Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 650px;
    padding: 1rem 0;
}

ul {
    list-style: none;
}

section {
    width: 100%;
    padding: 2rem 0;
}

.section-header {
    margin: 0 auto;
    max-width: 1400px;
    /*    padding-bottom: 1rem;*/
    padding: 1rem 0;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.col_left,
.col_right {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0 1rem;
    margin: 0 1rem;
}


button {
    cursor: pointer;
    font-family: futura-pt,
        Arial,
        Helvetica,
        Roboto,
        sans-serif;
    font-weight: 500;
    font-size: 1rem;
    font-style: normal;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    min-width: 150px;

}


/***** Pile (benyttes bl.a. til knapper) *****/
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    padding: 3px;
    margin: 3px 10px;
}

/***** Pile - Slut *****/



/***** Grid *****/

/* --auto-grid-min-size`gør det muligt at lave grid uden brug af media queries */
.auto-grid {
    --auto-grid-min-size: 268px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

.auto-grid > * {
    max-width: unset;
}

.grid-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

/***** Grid - Slut *****/



/***** Breadcrumbs - *****/

#breadcrumbs {
    padding: 1rem 0;
}

#breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0rem 2rem;
}

#breadcrumbs li {
    display: inline;
    color: var(--colorThree);
    /*    color: var(--colorTwelve);*/
    font-size: 0.75rem;
}

#breadcrumbs ul li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/*
#breadcrumb li:before {
    content: " / "
}*/

#breadcrumbs li:first-child:before {
    content: normal;
}

#breadcrumbs li a {
    color: var(--colorThree);
    /*    color: var(--colorTwelve);*/
    text-decoration: none;
    font-size: 0.75rem;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 700;
}

#breadcrumbs li:hover a,
#breadcrumbs li:hover {
    color: var(--colorFive);
}



/***** Breadcrumbs - Slut *****/



/***** Accordion/Collapsible *****/

details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.accordion .filter-model,
.accordion .filter-koen,
.accordion .filter-farve,
.accordion .filter-vaegt,
.accordion .filter-pris,
details .filter-model,
details .filter-koen,
details .filter-farve {
    color: var(--colorTwelve);
    background: 0;
    border: none;
    border-bottom: 1px solid var(--colorFour);
    margin: 0 auto;
    padding: 0.75rem;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    color: var(--colorThree);

}

.accordion .filter-model:hover,
.accordion .filter-koen:hover,
.accordion .filter-farve:hover,
.accordion .filter-vaegt:hover,
.accordion .filter-pris:hover,
details .summary:hover,
details .filter-model:hover,
details .filter-koen:hover,
details .filter-farve:hover {
    /*    background-color: var(--colorEight);*/
    color: var(--colorFive);
}



summary {
    padding: 0.75rem;
    display: block;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid var(--colorTwelve);
    color: var(--colorTwelve);
    min-width: 150px;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;


    &::-webkit-details-marker {
        display: none;
    }
}

summary&::-webkit-details-marker {
    display: none;
}

/***** Accordion/Collapsible - Slut *****/
/*------------------------------------*\
3. TYPOGRAFI - SLUT
\*------------------------------------*/



/*------------------------------------*\
4. HEADER
\*------------------------------------*/

.site_header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 300;
}

.topnav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}


nav {
    position: sticky;
    top: 0;
    width: 100%;
}

.home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--colorTwelve);
}



.menuTop {
    background-color: var(--colorTwelve);


}

.menu_bottom {
    background-color: var(--colorTwelve);
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;

}

/*MENUKNAP*/
.menuknap {
    display: inline-block;
    cursor: pointer;
    color: var(--colorOne);
    padding: 1.25rem;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: var(--colorOne);
    margin: 4px 0;
    transition: 0.4s;
}

.menuknap:hover .bar1,
.menuknap:hover .bar2,
.menuknap:hover .bar3 {
    background-color: var(--colorOne);
}

/* Roterer den fÃ¸rste bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

/* Fjerner den anden bar */
.change .bar2 {
    opacity: 0;
}

/* Roterer den anden bar */
.change .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*MENUKNAP*/

.menu_wrapper {
    width: 100%;
}

.menu_wrapper ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.menu_wrapper li {
    font-size: 1rem;
    cursor: pointer;
    /*    margin: auto 0;*/
    /*    padding: 1.25rem;*/
    text-align: center;
    /*    height: 100%;*/
    text-transform: uppercase;
    font-weight: 500;


}

.menu_wrapper li a {
    font-size: 1rem;
    text-align: center;
    height: 100%;
    color: inherit;
    text-decoration: none;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    padding: 1rem;


}

.menu_wrapper li:hover,
.menu_wrapper li:active {
    /*    color: var(--colorFive);*/
}

li.menu_ikon {
    padding: 0;
}

/* logo */


.logo-container {
    cursor: pointer;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--colorTwelve);
}

.logo-container svg {
    height: 34px;
    width: 180px;
    fill: #fff;
    margin: auto 0;
}

.nyt_logo {
    /*SVG-filen er indsat som background-image. Derfor benyttes filter til at skifte farve på filen*/
    background-image: url("files/svg/nyt_logo.svg");
    display: inline-block;
    padding: 32px 0;
    width: 120px;
    height: 100%;
    margin: auto 0;
    background-position: center;
    background-size: contain;
    /*Vi bruger filter til at vælge hvid som farve*/
    filter: invert(100%) sepia(28%) saturate(0%) hue-rotate(68deg) brightness(113%) contrast(100%);
    background-position: center;
    background-size: contain;

    background-repeat: no-repeat;

}

a.hjem:hover .nyt_logo,
a.hjem:active .nyt_logo {
    /*SVG-filen skifter vores farve ved hover*/
    filter: invert(86%) sepia(14%) saturate(497%) hue-rotate(165deg) brightness(96%) contrast(94%);
}

/* logo - slut */

/* Styling af link i navigations bar */
a.hjem {
    color: var(--colorOne);
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    /*    flex-direction: column;*/
}

a.hjem p {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    padding: 0 0.5rem;
    margin: auto 0;
    text-transform: uppercase;
}

a.hjem:hover p,
a.hjem:active p {
    color: var(--colorEight);
}

.searchButton {
    background-image: url(files/svg/search.svg);
    display: inline-block;
    padding: 20px;
    width: 40px;
    height: 40px;
    margin: auto 0;
    background-position: center;
    background-size: contain;
    filter: invert(98%) sepia(24%) saturate(207%) hue-rotate(133deg) brightness(120%) contrast(100%);
    background-position: center;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    transition: .3s;
    cursor: pointer;
}

.searchButton:hover {
    filter: invert(43%) sepia(99%) saturate(4033%) hue-rotate(184deg) brightness(89%) contrast(89%);
}

/*------------------------------------*\
4. HEADER - SLUT
\*------------------------------------*/


/*------------------------------------*\
5. FOOTER
\*------------------------------------*/

footer {
    background: var(--colorTwelve);
    color: var(--colorOne);
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;

}

a.github_link {
    text-decoration: none;
    cursor: pointer;
}

.social {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
    padding: 0;
    margin: 0 1rem;
}

.social .fa {
    font-size: 24px;
    color: var(--colorOne);
    padding: 1rem;
    cursor: pointer;

}

.social .fa:hover {
    color: var(--colorOne);
}

address,
social,
.footerCykler {
    display: flex;
}

address .footerCykler {
    flex-grow: 1;
    flex-basis: 300px;
}

address,
.footerCykler {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2rem;
}

address {
    font-style: normal;
}

address ul {
    padding-bottom: 1rem;
}

.footerCykler li {
    cursor: pointer;
}

footer .aabningstider {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

footer .aabningstider {
    flex-grow: 1;
    flex-basis: 300px;
}

.find {
    flex-grow: 1;
    flex-basis: 300px;
    flex-direction: column;
    padding: 2rem 0;
}

.find a {
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}

.find a:hover {
    color: var(--colorOne);
}

a.map {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0 2rem;
}



footer li,
footer li a {
    color: var(--colorOne);
    font-size: 1rem;
    line-height: 1.6;
}

footer li a {
    text-decoration: none;
}

footer span.navn {
    font-weight: 700;
    text-transform: uppercase;
}

footer .find a,
footer .aabningstider p,
footer .footerCykler ul li:first-child,
footer .footerCykler ul li:first-child a,
footer .lokalitet :first-child {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--colorOne);
    text-transform: uppercase;
}


.aabningstider p {
    padding: 0;
}

.overblik {
    display: flex;
    flex-wrap: nowrap;
}



.dage ul,
.tider ul {
    padding: 0;
}

.tider {
    padding-left: 20px;
}


/*------------------------------------*\
5. FOOTER - SLUT
\*------------------------------------*/

/*------------------------------------*\
6. KNAPPER
\*------------------------------------*/


/* Knap: Tilbage til toppen */
.tilbage {
    max-width: 1400px;
    margin: 0 auto;

}

.top_link {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin: auto 0 1rem;
}

.top_link a {
    margin: 0 1rem 1rem auto;
    text-decoration: none;
    display: block;
    width: 60px;
    height: 60px;
    background: var(--colorFive);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}

.top_link a i.up {
    border: solid var(--colorOne);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 7px;
    margin-top: 10px;
}

.top_link a:hover i.up {
    border: solid var(--colorEight);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    margin-top: 10px;
    border-radius: 45;
}


#forside .top_link a,
#kontakt_side .top_link a,
    {
    margin-top: -100px;
    margin-right: 50px;

}

/* Knap: Tilbage til toppen SLUT*/

/*------------------------------------*\
6. KNAPPER - SLUT
\*------------------------------------*/



/*------------------------------------*\
7. ANIMATIONER - SLUT
\*------------------------------------*/

/*Hover animation*/

.menu_wrapper li > a.underline,
footer .find > a.underline,
footer li > a.underline {
    position: relative;
    text-decoration: none;
}

.menu_wrapper li > a.underline:hover,
footer .find > a.underline:hover,
footer li > a.underline:hover {
    color: var(--colorOne);
}

.menu_wrapper li > a.underline:before,
footer .find > a.underline:before,
footer li > a.underline:before {
    content: "";
    position: absolute;
    /*    width: 100%;*/
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--colorTwo);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;

    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    /*    width: 100%;*/
}

.menu_wrapper li > a.underline:hover:before,
footer .find > a.underline:hover:before,
footer li > a.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);

}

/* Hover Animation - SLUT*/

/*------------------------------------*\
7. ANIMATIONER - SLUT
\*------------------------------------*/



/*------------------------------------*\
8. STYLING AF SPECIFIKKE SIDER
\*------------------------------------*/


/*------------------------------------*\
8.1 FORSIDE
\*------------------------------------*/


/*****SPLASH BAGGRUNDSVIDEO****/

#myVideo {
    width: 200vw;
    height: 100%;
    top: 0px;
    right: 200px;
    position: relative;
    z-index: 0;

}

#splash {
    overflow: hidden;
    position: relative;
    padding: 0;
}

#splash figure {
    margin-top: 10vw;
    padding: 1rem 0;

}

#splash p {
    /*    font-family: 'Racing Sans One', cursive;*/
    /*    font-family: 'Wallpoet', cursive;*/
    max-width: 460px;
    font-size: 1.1rem;
    line-height: 1.7;
    color: white;
    display: none;
}

#splash .wrapper {
    padding: 2rem 1rem 0;
    max-width: 1200px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 0.8rem;
    margin: 0 1rem;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: -10px;
}

#splash .card-bottom {
    display: flex;
    justify-content: flex-start;
}

#splash .wrapper img {
    min-width: 60vw;
    max-width: 25%;
    filter: invert(100%) sepia(28%) saturate(0%) hue-rotate(68deg) brightness(113%) contrast(100%);
    /*    min-width: 200px;*/
    max-width: 25%;
    margin-bottom: -20px;
}

#splash a.cta,
#forside a.knap-cykler {
    text-decoration: none;
    cursor: pointer;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    font-style: normal;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    min-width: 120px;
    color: var(--colorOne);
    background: var(--colorThirteen);
    border: 1px solid var(--colorFive);
}


#splash a.cta:hover,
#splash a.cta:active,
#forside .card-forside:hover a.knap-cykler,
#forside .card-forside:focus-within a.knap-cykler,
#forside .card-forside:active a.knap-cykler {
    color: var(--colorOne);
    background: var(--colorOne);
    background: 0;
    border: 1px solid var(--colorOne);
}



/***** Splash - Slut *****/

/***** forside ******/



#forside .card-header,
#forside .card-bottom {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 1rem 0;
}


#forside .card-header h4 {
    color: var(--colorOne);
}

.kategori img {
    object-fit: cover;
}


.box {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 3rem 0;

}

#forside .wrapper figure {
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#forside button {
    background-color: var(--colorThirteen);
    border: 0px;
}

#forside p {
    color: var(--colorOne);
    margin: 0rem 1rem;
}

#forside .card-bottom button {
    color: var(--colorOne);
}

.forside_overskrift h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--colorTwelve);
}

#forside h1 {
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 2rem;
}

#cykler .card-cykel,
#forside .card-forside {
    position: relative;
    box-shadow: none;
    transition: box-shadow 400ms ease, background 100ms ease, -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
    transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease, -webkit-transform 300ms ease-in-out;


}

#cykler .card-cykel:hover,
#forside .card-forside:hover,
#cykler .card-cykel:focus-within,
#forside .card-forside:focus-within {
    /*    background: #111111;*/
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
    cursor: pointer;
}

#cykler .card-cykel,
#forside .card-forside {}

/* Vi giver vores knapper en position static, så hele box inddrages og gøres klikbar*/
/*
.breakout-button {
    font: inherit;
    background: transparent;
    color: currentcolor;
    border: 1px solid;
    transition: background 100ms ease;
    position: static;
}
*/

/*
.breakout-button,
.breakout-button::before {
    cursor: pointer;
}
*/

/*
.breakout-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 61, 220, 0.27);

}

.breakout-button:focus {
    outline: none;
}

.breakout-button:hover {
    background: #333333;
}

.breakout-button:focus::before {
    outline: 1px solid #ffffff;
    outline-offset: -0.8rem;

}*/



#forside .card-forside {
    /*    padding: 5rem 1rem;*/
    text-align: center;
    /*    background: var(--colorOne);*/
    /*
    display: grid;
    grid-template-rows: auto 1fr auto;
*/
    /*    Bemærk at "row-gap" fungerer i alle relevante browsere. Men Brackets er formentlig ikke opdateret farver det derfor rødt */
    /*    row-gap: 1em;*/
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    height: 60vw;
    max-height: 400px;
}


#forside .card-forside p {
    display: none;

}

.test-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}


.kategori_ebike {
    grid-area: ebike;
    background-image: url(files/images/ebike.jpg);
    background-position: 65% 0%;
}

.kategori_city {
    grid-area: city;
    background-image: url(files/images/city6.jpg);
    background-position: 90% 0%;
    /*
    background-size: 110vw;
    background-position: -55vw;
*/
}

.kategori_trekking {
    grid-area: trekking;
    background-image: url(files/images/trekking1.jpg);
    background-position: 100% 0;
    /*
    background-size: 110vw;
    background-position: -65vw;
*/

}

.kategori_racer {
    grid-area: racer;
    background-image: url(files/images/race1.jpg);
    background-position: 100% 100%;
    /*
    background-size: 110vw;
    background-position: -65vw;
*/
}

.test-container > div {
    padding: 3rem;
}

.test-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-template-areas:
        "ebike"
        "city"
        "trekking"
        "racer";


    /*    grid-template-rows: auto 1fr auto;*/

}

/***** Test SLUT******/





/******* Signature boks på forside START********/

.box_blue {
    background-color: var(--colorFourteen);
    height: 60vw;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.signature-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

#signature {
    background-image: url(files/images/city2.jpg);
    height: 60vw;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 50% 0%;
}

#signature .box_blue {
    width: 100%;
    height: 100%;
    padding: 1rem;
    min-height: 400px;

}

#signature .blue-container {
    padding: 5rem;
    margin: auto auto 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
}

#signature h2,
#signature p,
#signature a.knap-cykler {
    color: var(--colorOne);
    margin: 1rem;
}

#signature h2 {
    padding-top: 2rem;
    font-size: calc(1.5rem + 3vw);
}

#signature p {
    padding-bottom: 2rem;
}

#signature .card-bottom {
    display: flex;
    justify-content: flex-start;
}

.kategori button {
    color: var(--colorOne);
    border: 1px solid var(--colorOne);
    margin: 1rem 0;
}

#signature a.knap-cykler,
#signature button {
    text-decoration: none;
    cursor: pointer;
    font-family: futura-pt,
        Arial,
        Helvetica,
        Roboto,
        sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    font-style: normal;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    min-width: 120px;
    color: var(--colorOne);
    background: var(--colorThirteen);
    border: 1px solid var(--colorFive);
}

#signature a.knap-cykler:hover,
#signature button:hover {
    color: var(--colorFive);
    background: var(--colorOne);
}

/******signature boks på forside SLUT******/




/*** YouTube Video er en mulighed ***/
.video_wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    margin-top: 1rem;
}

#youtubeVideo {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/***** YouTube Video  - SLUT *****/

/*------------------------------------*\
8.1 FORSIDE - SLUT
\*------------------------------------*/


/*------------------------------------*\
8.2 CYKLER
\*------------------------------------*/


#cykler {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 0;
    background: var(--colorTwo);
    padding: 0;
    grid-template-areas:
        "hd"
        "sidebar"
        "line"
        "modeller"
        "ft";
}

#cykler .section-header {
    grid-area: hd;
    padding: 2.5rem 0;
}


#cykler .card-header,
#cykler .cardBottom {
    padding: 1rem 0;
    text-transform: uppercase;
}


#cykler hr.line {
    grid-area: line;

    margin: 0 1rem;
    border: 1px solid var(--colorFour);
}

#cykler .grid-container {
    grid-area: modeller;
    margin: 1rem;
    padding: 0;
}


.sidebar {
    grid-area: sidebar;
    /*    background-color: var(--colorOne);*/
    margin: 1rem;
}

#cykler .tilbage {
    grid-area: ft;

    margin: 0;
}

#cykler .auto-grid {
    padding: 0;
}

#cykler .card-cykel {
    /*    padding: 5rem 1rem;*/
    text-align: center;
    background: var(--colorOne);
    padding: 1rem 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;

    /*    Bemærk at "row-gap" fungerer i alle relevante browsere. Men Brackets er formentlig ikke opdateret farver det derfor rødt */

    row-gap: 1em;
}

#cykler .card-cykel button:hover {
    background: 0;
}

#cykler .card-cykel img {
    object-fit: cover;
}

#cykler .card-cykel button {
    color: var(--colorOne);
    background: var(--colorFive);
    border: 1px solid var(--colorFive);
    margin: 1rem;
}

#cykler .card-cykel:hover button,
#cykler .card-cykel:focus-within button,
#cykler .card-cykel:active button {
    color: var(--colorFive);
    background: 0;
}

.filtrering {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 0;
    max-width: 1400px;
    padding: 2rem;
    margin: 0 auto;
    /*
    top: 20vh;
    margin-bottom: 108px;
*/
    background-color: var(--colorOne);
}


.filter-model,
.filter-koen,
.filter-farve {
    color: var(--colorOne);
    background: var(--colorFive);
    border: 1px solid var(--colorFive);
    margin: 1rem;
    transition: 0.25s;
}

.filter-model:hover,
.filter-koen:hover,
.filter-farve:hover {
    color: var(--colorFive);
    background: 0;
}



.cykeltype summary {
    border-top: 1px solid var(--colorTwelve);
}


.accordion .valgt,
details .valgt {
    color: var(--colorFive);
}

/* Pile */


button i {
    border: solid var(--colorFive);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 3px 8px;
}

#cykler button i {
    border: solid var(--colorOne);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 3px 8px;
}

#cykler button:hover i {
    border: solid var(--colorFive);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 3px 8px;
}


/* Pile */

/*
button .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
*/

/* Pile - Slut*/



/****** Accordion ******/


.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-top: 1px solid var(--colorFour);
    /*
    position: relative;
    display: flex;
    justify-content: center;
*/
}

.accordion .collapse-title {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 0rem;
    font-weight: 400;
    border-bottom: 1px solid var(--colorFour);
    margin: 0;
}


.accordion .collapse-title:hover,
.accordion .collapse-title:hover::after {
    cursor: pointer;
    color: var(--colorFive);
}


.accordion .collapse-title.active {
    color: var(--colorFive);
    border-bottom: 1px solid var(--colorFive);
}

.accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid var(--colorFour);
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}

.accordion .content.active {
    opacity: 1;
    padding: 0;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}

.accordion .collapse-title::after {
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*    border: 1px solid var(--colorTwelve);*/
    text-align: center;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    content: "+";
}

.accordion .collapse-title.active::after {
    color: var(--colorFive);
    /*    border: 1px solid var(--colorFive);*/
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.accordion-knap {
    all: inherit;
    border: 0;
    width: 100%;
    position: relative;
    padding: 0;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 1px solid var(--colorTwelve);
    min-width: 150px;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    border: none;
}

/****** Accordion Slut ******/
/*------------------------------------*\
8.2 CYKLER - SLUT
\*------------------------------------*/



/*------------------------------------*\
8.3 Singleview
\*------------------------------------*/


.single-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: ;
    overflow: auto;
    /*    max-width: 1400px;*/
    padding: 2rem;
    margin: auto;
    padding: 2rem;
    background: var(--colorOne);
}

.single-header {
    padding: 1rem 0;
    text-transform: uppercase;
}

.single-header h4 {
    text-transform: uppercase;
    color: var(--colorFive);
    padding: 0;
}

.single-content {
    max-width: 800px;
}

/* Vores reponsive tabeller er inspireret af artiklen "Making Tables Responsive With Minimal CSS" fra CSS-Tricks. Link: https://css-tricks.com/making-tables-responsive-with-minimal-css/ */

.luk {
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
    border: none;
    background: 0;
}

.liste {
    padding: 0;
}

.title_box {
    background-color: white;
    padding: 10px;
}

.billede_box {
    align-self: center;
    margin: auto;
}

.pris {
    text-align: right;
    padding: 10px 20px 0 0;
    font-size: 21px;
}

.pris_style {
    text-align: right;
    color: #0E7DC7;
    padding: 0 20px;
    font-size: 10px;
}

.praesentation {
    padding: 20px;
}

.vmf_box {
    padding: 0 20px;
}

.vaegt,
.maal,
.farve {
    font-size: 17px;
    font-weight: bold;
    color: black;
}



.singleview_overskrift {
    margin: 30px 20px;
}



.fordel1,
.fordel2,
.fordel3,
.fordel4 {
    background-image: url(files/svg/flueben.svg);
    background-repeat: no-repeat;
    margin: 20px 30px;
    padding-left: 100px;
    min-height: 100px;
}


.billedtekst_box {
    margin: -5px 0px 30px 0px;
    height: 120px;
    background-color: var(--colorFive);
    color: var(--colorOne);
    text-align: center;
    padding: 1rem;

}

.link_box {
    background-size: cover;
    color: white;
    margin: 10px 0;
    padding: 10px;
    position: relative;
    background-image: url(files/images/trekking1.jpg);

}

.link_container {
    max-width: 950px;
    margin: auto;
    display: flex;
    background-color: var(--colorFourteen);

}

.link_tekst {
    width: 430px;
    padding: 10px 30px;
}

.laes_mere_link {
    text-align: center;

}

.laes_mere_link p {
    border: 2px solid white;
    padding: 10px;
    width: 130px;
    color: white;
}

.link_container a {
    text-decoration: none;
    align-self: center;
}



@media screen and (min-width: 800px) {

    .menu_wrapper ul {
        padding-right: 2rem;
    }

    #singleview {
        background-color: white;
    }

    /*her har i sat en højde på, der gør at footeren skraber over*/

    .liste {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
<<<<<<< HEAD
        height: 110vw;

=======
        height: 300vh;
>>>>>>> origin/master
    }

    .title_box {
        grid-area: 1 / 2 / 1 / 2;
        padding: 0 20px;

    }

    .billede_box {
        grid-area: 1 / 1 / 5 / 1;
    }

    .pris_box {
        grid-area: 4 / 2 / 4 / 2;
    }

    .praesentation_box {
        grid-area: 2 / 2 / 2 / 2;

    }

    .vmf_box {
        grid-area: 3 / 2 / 3 / 2;
        background-color: white;
    }

    .fordele_box {
        grid-area: 5 / 1 / 5 / 3;
        /*        border-top: 1px solid #b1adad;*/
        margin-top: 15px;
        background-color: #EEEFEF;
    }

    .link_box {
        grid-area: 6 / 1 / 6 / 3;
    }

    .fordele_overskrift {
        text-align: center;

    }

    .fordele {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        margin: auto;

    }

    .fordel1,
    .fordel2,
    .fordel3,
    .fordel4 {
        padding: 10px 10px 10px 100px;
        margin: 40px;
        flex-basis: 400px;
    }

    /*
    img {
        max-width: 36vw;
    }
*/

    .link_tekst {
        margin-right: 90px;
    }



}

/*
table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 2rem 0 1rem;
}

table tr {
    background: var(--colorOne);
    border-bottom: 1px solid
}

table th,
table td {
    padding: 10px 20px;
}

table td span {
    background: var(--colorTwo);
    color: var(--colorThree);
    display: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;

}

table td p {
    padding: 0;
    text-transform: capitalize;

}
*/





/*------------------------------------*\
8.3 Singleview - SLUT
\*------------------------------------*/

/*------------------------------------*\
8.4 About
\*------------------------------------*/

#historie {
    background-color: white;
}

#citat_om {
    margin-top: -80px;
}

#citat_om .citat1_om {
    text-align: left;
    font-size: 2rem;
}

#citat_om .citat2_om {
    text-align: right;
    font-size: 2rem;
}

.citat .box_blue h2 {
    font-size: 1.7rem;
}

.citat_section .citat {
    background-image: url(files/images/trekking1.jpg);
    color: white;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-size: 100vw;
    background-position: 0vw;
}

.citat_section .citat .box_blue {
    background-color: var(--colorThirteen);
    padding: 5vw;

}


#om {
    background-color: white;
    padding: 0;
}

#service .kursiv {
    font-style: italic;
}

@media (min-width: 800px) {

    #historie .sectionwrapper {
        display: flex;
        flex-direction: row-reverse;

    }

    #signature_1 .sectionwrapper {
        display: flex;
        flex-direction: row-reverse;

    }

    .signature .citat_tekst {
        margin: 0px;
        text-align: center;
    }

    .citat .box_blue h2 {
        font-size: 3rem;
    }


    #historie figure {
        margin-top: 28px;
    }


    .citat_section {
        padding: 0;
    }

    .citat_tekst {
        margin-left: 250px;
        text-align: center;
    }

    .box_blue h2 {
        font-size: 3rem;
    }

    #om .sectionwrapper {
        display: flex;
        flex-direction: row-reverse;

    }

    #service figure {
        margin-top: 20px;
    }

    #om figure {
        margin-top: 30px;
        max-width: 400px;
    }


}

/*------------------------------------*\
8.4 About - SLUT
\*------------------------------------*/


/*------------------------------------*\
8.5 Kontakt
\*------------------------------------*/


#kontakt_side .aabningstider {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 300px;
    color: var(--colorTwelve);
}


#kontakt_side address {

    padding: 1rem;
}

#kontakt_side li,
#kontakt_side li a {
    color: var(--colorOne);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--colorTwelve);
}

#kontakt_side li a {
    text-decoration: none;
    color: var(--colorTwelve);
}

#kontakt_side span.navn {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorTwelve);
}

#kontakt_side .find a,
#kontakt_side .aabningstider p,
#kontakt_side .footerCykler ul li:first-child,
#kontakt_side .footerCykler ul li:first-child a,
#kontakt_side .lokalitet :first-child {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--colorOne);
    text-transform: uppercase;
    color: var(--colorTwelve);
}

#kontakt_side .kontakt_citat {
    background-image: url(files/images/trekking1.jpg);
    color: white;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-size: 100vw;
    background-position: 0vw;
}

#kontakt_side .kontakt_citat .box_blue {
    padding: 5vw;
}


#kontakt_side .kort_map iframe {
    max-width: 100%;
    max-height: 80vw;
    margin-top: 20px;
}



/*------------------------------------*\
8.5 Kontakt - SLUT
\*------------------------------------*/

/*------------------------------------*\
8.6 Signature - START
\*------------------------------------*/


#signature_1 {
    margin-bottom: -10px;
}


#signature_1 .sectionwrapper iframe {
    max-width: 100%;
}

.knap-cykler_signature {
    text-decoration: none;
    cursor: pointer;
    font-family: futura-pt,
        Arial,
        Helvetica,
        Roboto,
        sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    font-style: normal;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    min-width: 120px;
    color: var(--colorOne);
    background: var(--colorThirteen);
    border: 1px solid var(--colorFive);

}

a.knap-cykler_signature:hover {
    color: var(--colorFive);
    background: var(--colorOne);
    border: solid var(--colorFive) 1px;
}


#signature_2 .col_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signature_2 .col_right img {
    padding-bottom: 40px;
}

.citat_section {
    padding-bottom: 0px;
}

/*------------------------------------*\
8.6 Signature - SLUT
\*------------------------------------*/

/*------------------------------------*\
8. STYLING AF SPECIFIKKE SIDER  - SLUT
\*------------------------------------*/











/*------------------------------------*\
9: MEDIA QUERIES
\*------------------------------------*/

@media (min-width: 350px) {
    .test-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "ebike city"
            "trekking racer";
    }




}

@media (max-width: 800px) {



    /* Der tilføjes en class ("change") til topnav vha. JavaScript, når der klikkes på menuknappen. */
    .topnav.change {
        position: relative;
        background-color: var(--colorTwelve);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .topnav.change .menu_wrapper li,
    .topnav.change .menu_wrapper li a {
        font-size: calc(1rem + 1vw);
        background-color: inherit;
    }

    .menu_wrapper ul {
        flex-direction: column;
    }

    .menu_wrapper {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap;
        flex-direction: column;

    }

    .menu_wrapper li a {
        color: var(--colorOne);
    }



    .menu_wrapper li {
        margin: 1rem;
    }




    /* Tabeller på mobil */
    @media(max-width: 800px) {
        table thead {
            left: -9999px;
            position: absolute;
            visibility: hidden;
        }

        table tr {
            border-bottom: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        table td {
            border: 1px solid;
            margin: 0 -1px -1px 0;
            padding-top: 35px;
            position: relative;
            width: 50%;
            font-size: 0.9rem;
        }

        table td span {
            display: block;
        }
    }

}

.topnav.change .menu_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 15vh 0;
}

@media (min-width: 640px) {

    #myVideo {
        position: relative;
        right: 0;
        bottom: 0;
        top: 0px;
        width: 100vw;

    }

    .col_left,
    .col_right {
        margin: 0 2.5rem;
    }



    #forside .card-header,
    #forside .card-bottom {
        margin: 1rem 0;
    }

    #forside .box_blue h2 {
        text-align: left;
    }

    #forside .box {
        padding: 8rem 0;
    }

    .menu_wrapper {
        color: var(--colorOne);
        background-color: var(--colorTwelve);
    }


    #splash .wrapper {
        top: -50px;
        left: 20px;
    }

    #splash .wrapper img {
        min-width: 35vw;
        max-width: 25%;
    }


    #forside .card-forside p {
        display: block;

    }


    #forside p {
        font-size: 1rem;
    }


    #cykler {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "hd      hd   hd   hd"
            "line    line line   line"
            "sidebar modeller modeller modeller"
            "sidebar ft   ft   ft";
    }
}


@media screen and (min-width:800px) {

    /*****  FORSIDE - GRID  *****/
    .test-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "ebike city trekking racer";
    }

    #forside .card-header h4 {
        font-size: 2rem;
    }

    #citat_om .citat1_om {
        text-align: left;
        font-size: 2rem;
        margin-left: 100px;
    }

    #citat_om .citat2_om {
        text-align: right;
        font-size: 2rem;
        margin-right: 100px;
    }

    /*
    article.kategori_ebike {
        background-size: 80vw;
        background-position: 48vw;
    }

    article.kategori_city {
        background-size: 80vw;
        background-position: -30vw;
    }

    article.kategori_trekking {
        background-size: 80vw;
        background-position: 25vw;
    }

    article.kategori_racer {
        background-size: 80vw;
        background-position: -55vw;
    }
*/

    /*****  FORSIDE - GRID  *****/
}

@media only screen and (min-width: 800px) {


    li.menu_ikon {
        padding-left: 0.5rem;
    }

    #forside h1 {
        font-size: 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
    }

    .col_right_service {
        margin-top: 6rem;
    }

    .topnav .menuknap {
        display: none;
    }

    #splash p {
        display: block;
    }

    #om img {
        margin-top: 80px;
        margin-left: 60px;
        max-height: auto;
        width: 80%;
    }

    .change .bar1,
    .change .bar2,
    .change .bar3 {}

    .menuTop {
        background-color: rgba(255, 255, 255, 0.97);
    }

    .searchButton {
        filter: invert(44%) sepia(6%) saturate(553%) hue-rotate(163deg) brightness(94%) contrast(94%);
    }



    /*Hover Animationer -> Header Menu */

    .menu_wrapper li > a.underline:hover {
        /*        color: var(--colorFive);*/
    }

    .menu_wrapper li > a.underline:before {
        background-color: var(--colorFive);
    }

    /*Hover Animationer -> Header Menu  - SLUT*/


    /*  Cykler  */
    .filtrering {
        top: 20vh;
        margin-bottom: 108px;
    }

    /* kontaktside */


    .kontakt_citat p {
        font-size: 2rem;
    }


    #signature_1 figure {
        margin-top: 100px;
    }

    #signature_2 h2 {
        font-size: 2rem;
    }

    .citat1_signature h2 {
        text-align: center;
    }

    #signature_1 .sectionwrapper iframe {
        margin-top: 100px;
    }
}

/*------------------------------------*\
9: MEDIA QUERIES - SLUT
\*------------------------------------*/
