/*------------------------------------*\
****************************************


INDHOLDSFORTEGNELSE:
********************

1: VARIABLER
2. LAYOUT
3. TYPOGRAFI
4. HEADER
5. FOOTER
6. KNAPPER
7. ANIMATIONER
8. STYLING AF SPECIFIKKE SIDER
    8.1 FORSIDE
    8.2 ???
    8.3
    8.4
9. MEDIA QUERIES

****************************************
\*------------------------------------*/

/*------------------------------------*\
1: VARIABLER
\*------------------------------------*/

:root {
    /* Nøjagtig de samme farvekoder som anvendes på www.koga.com */
    --one-color: #fff;
    --two-color: #EEEFEF;
    --three-color: #656D73;
    --four-color: #DCDCE5;
    --five-color: #0E7DC7;
    --six-color: #FF8700;
    --seven-color: #E75F41;
    --eight-color: #B7D8EE;
    --nine-color: #27333B;
    --ten-color: #6E7D87;
    --twelve-color: #313131;
    --thirteen-color: rgba(14, 125, 199, 0.8);
    --fourteen-color: rgba(14, 125, 199, 0.6);


}

/*------------------------------------*\
1. VARIABLER - SLUT
\*------------------------------------*/



/*------------------------------------*\
2. LAYOUT
\*------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEEFEF;
    color: var(--twelve-color);
    overflow-wrap: break-word;
    hyphens: auto;
    font-family: Arial, Verdana, Sans-Serif;
}

main {}

img {
    width: 100%;
    height: auto;

}

ul {
    list-style: none;
}

.skjult {
    display: none;
}


/*------------------------------------*\
2. LAYOUT - SLUT
\*------------------------------------*/

/*------------------------------------*\
3. TYPOGRAFI
\*------------------------------------*/

/* @font-face */


/* KOGA benytter Futura på deres hjemmeside: https://fonts.adobe.com/fonts/futura-pt?red=a */

@font-face {
    font-family: '';
    src: url('') format('woff2'),
        url('') format('woff');
    font-weight: normal;
    font-style: normal
}

/* @font-face Slut */

h1 {
    font-family: futura-pt,
        Arial,
        Helvetica,
        Roboto,
        sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
    padding: 0 1rem;


}


h2 {
    text-transform: uppercase;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6rem;
}

h3 {
    text-transform: uppercase;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    margin: 1rem 0;
}

h4 {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    font-style: normal;
}

h5 {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
}

p {
    font-family: Arial, Helvetica, Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 500px;
    padding: 1rem 0;
}

ul {
    list-style: none;
}

section {
    width: 100%;
    padding: 2rem 0;
}

/* Blå sektioner*/
#blue-section {
    padding: 0;
}

.section-header {
    margin: 0 auto;
    max-width: 1400px;
    /*    padding-bottom: 1rem;*/
    padding: 1rem 0;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.col_left,
.col_right {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 0 1rem;
    margin: 0 1rem;
}


button {
    cursor: pointer;
    font-family: futura-pt,
        Arial,
        Helvetica,
        Roboto,
        sans-serif;
    font-weight: 500;
    font-size: 1rem;
    font-style: normal;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    min-width: 150px;

}

button:focus {
    outline: none;

}

/***** Pile (benyttes bl.a. til knapper) *****/
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    padding: 3px;
    margin: 3px 10px;
}

/***** Pile - Slut *****/



/***** Grid *****/

/* --auto-grid-min-size`gør det muligt at lave grid uden brug af media queries */
.auto-grid {
    --auto-grid-min-size: 268px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

.auto-grid > * {
    max-width: unset;
}

.grid-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

/***** Grid - Slut *****/



/***** Breadcrumbs - *****/

#breadcrumbs {
    padding: 1rem 0;
    display: none;
}


#breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0rem 2rem;
}

#breadcrumbs li {
    display: inline;
    color: var(--three-color);
    /*    color: var(--twelve-color);*/
    font-size: 1rem;
}

#breadcrumbs ul li + li:before {
    padding: 8px;
    color: inherit;
    content: "/\00a0";
}

/*
#breadcrumb li:before {
    content: " / "
}*/

#breadcrumbs li:first-child:before {
    content: normal;
}

#breadcrumbs li a {
    color: var(--three-color);
    color: var(--twelve-color);
    text-decoration: none;
    font-size: 1rem;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 400;
}

#breadcrumbs li:last-child a {
    color: var(--five-color);
}

#breadcrumbs li:hover a,
#breadcrumbs li:hover {
    color: var(--five-color);
}



/***** Breadcrumbs - Slut *****/



/***** Accordion/Collapsible *****/

.accordion .filter-model,
/*.accordion .filter-koen,*/
.accordion .filter-farve,
.accordion .filter-vaegt,
.accordion .sorter-pris {
    color: var(--twelve-color);
    background: 0;
    border: none;
    border-bottom: 1px solid var(--four-color);
    margin: 0 auto;
    padding: 0.75rem;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    color: var(--three-color);

}



.accordion .filter-model:hover,
/*.accordion .filter-koen:hover,*/
.accordion .filter-farve:hover,
.accordion .filter-vaegt:hover,
.accordion .sorter-pris:hover {
    /*    background-color: var(--eight-color);*/
    color: var(--five-color);
}

/***** Accordion/Collapsible - Slut *****/
/*------------------------------------*\
3. TYPOGRAFI - SLUT
\*------------------------------------*/



/*------------------------------------*\
4. HEADER
\*------------------------------------*/

.site_header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.topnav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}


nav {
    position: sticky;
    top: 0;
    width: 100%;
}

.home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--twelve-color);
}



.menuTop {
    background-color: var(--twelve-color);


}

.menu_bottom {
    background-color: var(--twelve-color);
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;

}

/*MENUKNAP*/
.menuknap {
    display: inline-block;
    cursor: pointer;
    color: var(--one-color);
    padding: 1.25rem;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: var(--one-color);
    margin: 4px 0;
    transition: 0.4s;
}

.menuknap:hover .bar1,
.menuknap:hover .bar2,
.menuknap:hover .bar3 {
    background-color: var(--one-color);
}

/* Roterer den fÃ¸rste bar */
.responsive .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

/* Fjerner den anden bar */
.responsive .bar2 {
    opacity: 0;
}

/* Roterer den anden bar */
.responsive .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*MENUKNAP*/

.menu_wrapper {
    width: 100%;
}

.menu_wrapper ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.menu_wrapper li {
    font-size: 1rem;
    cursor: pointer;
    /*    margin: auto 0;*/
    /*    padding: 1.25rem;*/
    text-align: center;
    /*    height: 100%;*/
    text-transform: uppercase;
    font-weight: 500;


}

.menu_wrapper li a {
    font-size: 1rem;
    text-align: center;
    height: 100%;
    color: inherit;
    text-decoration: none;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    padding: 1rem;


}

.menu_wrapper li:hover,
.menu_wrapper li:active {
    /*    color: var(--five-color);*/
}

li.menu_ikon {
    padding: 0;
}



/* Styling af dropdown knap + content */

.dropdown {
    height: 100%;

}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: var(--one-color);
    font-size: 1rem;
    padding: 1rem;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a.menubtn {
    background-color: #2C2C2C;
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 100%;

}

#myTopnav .dropdown:hover {
    background-color: var(--twelve-color);

}

.dropdown:active .dropbtn,
.dropdown:hover .dropbtn {
    animation: farver_skifter 10s ease forwards infinite;
    transition-timing-function: cubic-bezier(.08, .73, .83, .67);
}


/* logo */


.logo-container {
    cursor: pointer;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--twelve-color);
}

.logo-container svg {
    height: 34px;
    width: 180px;
    fill: #fff;
    margin: auto 0;
}

.nyt_logo {
    /*SVG-filen er indsat som background-image. Derfor benyttes filter til at skifte farve på filen*/
    background-image: url("files/svg/nyt_logo.svg");
    display: inline-block;
    padding: 32px 0;
    width: 120px;
    height: 100%;
    margin: auto 0;
    background-position: center;
    background-size: contain;
    /*Vi bruger filter til at vælge hvid som farve*/
    filter: invert(100%) sepia(28%) saturate(0%) hue-rotate(68deg) brightness(113%) contrast(100%);
    background-position: center;
    background-size: contain;

    background-repeat: no-repeat;

}

a.hjem:hover .nyt_logo,
a.hjem:active .nyt_logo {
    /*SVG-filen skifter vores farve ved hover*/
    filter: invert(44%) sepia(91%) saturate(5074%) hue-rotate(186deg) brightness(93%) contrast(89%);
}

/* logo - slut */

/* Styling af link i navigations bar */
a.hjem {
    color: var(--one-color);
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    /*    flex-direction: column;*/
}

a.hjem p {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    padding: 0 0.5rem;
    margin: auto 0;
    text-transform: uppercase;
}

a.hjem:hover p,
a.hjem:active p {
    color: var(--eight-color);
}

.searchButton {
    background-image: url(files/svg/search.svg);
    display: inline-block;
    padding: 20px;
    width: 40px;
    height: 40px;
    margin: auto 0;
    background-position: center;
    background-size: contain;
    filter: invert(98%) sepia(24%) saturate(207%) hue-rotate(133deg) brightness(120%) contrast(100%);
    background-position: center;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    transition: .3s;
    cursor: pointer;
}

.searchButton:hover {
    filter: invert(43%) sepia(99%) saturate(4033%) hue-rotate(184deg) brightness(89%) contrast(89%);
}

/*------------------------------------*\
4. HEADER - SLUT
\*------------------------------------*/


/*------------------------------------*\
5. FOOTER
\*------------------------------------*/

footer {
    background: var(--twelve-color);
    color: var(--one-color);
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;

}

a.github_link {
    text-decoration: none;
    cursor: pointer;
}

.social {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
    padding: 0;
    margin: 0 1rem;
}

.social .fa {
    font-size: 24px;
    color: var(--one-color);
    padding: 1rem;
    cursor: pointer;

}

.social .fa:hover {
    color: var(--five-color);
}

address,
social,
.footerCykler {
    display: flex;
}

address .footerCykler {
    flex-grow: 1;
    flex-basis: 300px;
}

address,
.footerCykler {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2rem;
}

address {
    font-style: normal;
}

address ul {
    padding-bottom: 1rem;
}

.footerCykler li {
    cursor: pointer;
}

footer .aabningstider {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

footer .aabningstider {
    flex-grow: 1;
    flex-basis: 300px;
}

.find {
    flex-grow: 1;
    flex-basis: 300px;
    flex-direction: column;
    padding: 2rem 0;
}

.find a {
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}

.find a:hover {
    color: var(--one-color);
}

a.map {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0 2rem;
}



footer li,
footer li a {
    color: var(--one-color);
    font-size: 1rem;
    line-height: 1.6;
}

footer li a {
    text-decoration: none;
}

footer span.navn {
    font-weight: 700;
    text-transform: uppercase;
}

footer .find a,
footer .aabningstider p,
footer .footerCykler ul li:first-child,
footer .footerCykler ul li:first-child a,
footer .lokalitet :first-child {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--one-color);
    text-transform: uppercase;
}


.aabningstider p {
    padding: 0;
}

.overblik {
    display: flex;
    flex-wrap: nowrap;
}



.dage ul,
.tider ul {
    padding: 0;
}

.tider {
    padding-left: 20px;
}


/*------------------------------------*\
5. FOOTER - SLUT
\*------------------------------------*/

/*------------------------------------*\
6. KNAPPER
\*------------------------------------*/

/* Knap: Tilbage til toppen */

.top_link {
    display: flex;
    flex-wrap: wrap;
    margin: auto 0 1rem;
}

.top_link a {
    margin: 0 1rem 1rem auto;
    text-decoration: none;
    display: block;
    width: 60px;
    height: 60px;
    background: var(--five-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}

#knap-top i.up {
    border: solid var(--one-color);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 7px;
    margin-top: 10px;
}

#knap-top:hover i.up {
    border: solid var(--eight-color);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
    margin-top: 10px;
    border-radius: 45;
}


#forside .top_link a,
#kontakt_side .top_link a,
    {
    margin-top: -100px;
    margin-right: 50px;

}

#knap-top {
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    margin: 0 1rem 1rem auto;
    width: 60px;
    height: 60px;
    background: var(--five-color);
    margin: 0 1rem 1rem auto;
    min-width: initial;
    padding: 0;
    position: fixed;
    bottom: 100px;
    right: 16px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 2s;

}

/*------------------------------------*\
6. KNAPPER - SLUT
\*------------------------------------*/



/*------------------------------------*\
7. ANIMATIONER
\*------------------------------------*/

/*Hover animation*/

.menu_wrapper li > a.underline,
footer .find > a.underline,
footer li > a.underline {
    position: relative;
    text-decoration: none;
}

.menu_wrapper li > a.underline:hover,
footer .find > a.underline:hover,
footer li > a.underline:hover {
    color: var(--one-color);
}

.menu_wrapper li > a.underline:before,
footer .find > a.underline:before,
footer li > a.underline:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--two-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;


}

footer .find > a.underline:before,
footer li > a.underline:before {
    width: 100%;
}

.menu_wrapper li > a.underline:before {
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

.menu_wrapper li > a.underline:hover:before,
footer .find > a.underline:hover:before,
footer li > a.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);

}

/* Hover Animation - SLUT*/


/* Fade-in animation - SLUT*/

.fade-in {
    animation: fadeIn 2s ease-in-out both;
}

.fade-to {
    animation: fadeIn 2.5s ease-in-out both;
}

.fade-tre {
    animation: fadeIn 3.5s ease-in-out both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Fade-in animation - SLUT*/

/*------------------------------------*\
7. ANIMATIONER - SLUT
\*------------------------------------*/



/*------------------------------------*\
8. STYLING AF SPECIFIKKE SIDER
\*------------------------------------*/


/*------------------------------------*\
8.1 FORSIDE
\*------------------------------------*/


/*****SPLASH BAGGRUNDSVIDEO****/

#video-bg {
    width: 200vw;
    height: 100%;
    top: 0px;
    right: 200px;
    position: relative;
    z-index: 0;

}

#splash {
    overflow: hidden;
    position: relative;
    padding: 0;
}

#splash figure {
    margin-top: 10vw;
    padding: 1rem 0;

}

#splash p {
    /*    font-family: 'Racing Sans One', cursive;*/
    /*    font-family: 'Wallpoet', cursive;*/
    max-width: 400px;
    font-size: 0.85rem;
    color: white;
    display: none;
    padding: 0;
}

#splash .wrapper {
    padding: 2rem 1rem 0;
    max-width: 1200px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 1rem;
    margin: 0 1rem;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -10px;
}

#splash .card-bottom {
    display: flex;
    justify-content: flex-start;
}

#splash .wrapper img {
    min-width: 60vw;
    max-width: 25%;
    filter: invert(100%) sepia(28%) saturate(0%) hue-rotate(68deg) brightness(113%) contrast(100%);
    /*    min-width: 200px;*/
    max-width: 25%;
}

#splash a.cta,
#forside a.knap-cykler {
    text-decoration: none;
    cursor: pointer;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 1.4;
    font-style: normal;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    min-width: 120px;
    color: var(--one-color);
    background: var(--thirteen-color);
    border: 1px solid var(--five-color);
    transition: 0.4s;
}

#splash a.cta:hover,
#splash a.cta:active,
#forside .card-forside:hover a.knap-cykler,
#forside .card-forside:focus-within a.knap-cykler,
#forside .card-forside:active a.knap-cykler {
    color: var(--one-color);
    background: var(--one-color);
    background: 0;
    border: 1px solid var(--one-color);
}





/***** Splash - Slut *****/

/***** forside ******/



#forside .card-header,
#forside .card-bottom {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 1rem 0;
}


#forside .card-header h4 {
    color: var(--one-color);
}

.kategori img {
    object-fit: cover;
}


.box {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 3rem 0;

}

#forside .wrapper figure {
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#forside button {
    background-color: var(--thirteen-color);
    border: 0px;
}

#forside p {
    color: var(--one-color);
    margin: 0rem 1rem;
}

#forside .card-bottom button {
    color: var(--one-color);
}

.forside_overskrift h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--twelve-color);
}

#forside h1 {
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 20px;
}

#cykler .card-cykel,
#forside .card-forside,
#forside-signature .signature-wrapper {
    position: relative;
    box-shadow: none;
    transition: box-shadow 400ms ease, background 100ms ease, -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease;
    transition: transform 300ms ease-in-out, box-shadow 400ms ease, background 100ms ease, -webkit-transform 300ms ease-in-out;


}

#cykler .card-cykel:hover,
#cykler .card-cykel:focus-within,
#forside .card-forside:hover,
#forside .card-forside:focus-within,
#forside-signature .signature-wrapper:hover,
#forside-signature .signature-wrapper:focus-within {
    /*    background: #111111;*/
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem);
    cursor: pointer;
}

#forside .card-forside {
    /*    padding: 5rem 1rem;*/
    text-align: center;
    /*    background: var(--one-color);*/
    /*
    display: grid;
    grid-template-rows: auto 1fr auto;
*/

    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    height: 60vw;
    max-height: 400px;
}


#forside .card-forside p {
    display: none;

}

.test-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}


.kategori_ebike {
    grid-area: ebike;
    background-image: url(files/images/ebike.jpg);
    background-position: 65% 0%;
}

.kategori_city {
    grid-area: city;
    background-image: url(files/images/city6.jpg);
    background-position: 90% 0%;
    /*
    background-size: 110vw;
    background-position: -55vw;
*/
}

.kategori_trekking {
    grid-area: trekking;
    background-image: url(files/images/trekking1.jpg);
    background-position: 100% 0;
    /*
    background-size: 110vw;
    background-position: -65vw;
*/

}

.kategori_racer {
    grid-area: racer;
    background-image: url(files/images/race1.jpg);
    background-position: 100% 100%;
    /*
    background-size: 110vw;
    background-position: -65vw;
*/
}

.test-container > div {
    padding: 3rem;
}

.test-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-template-areas:
        "ebike"
        "city"
        "trekking"
        "racer";


    /*    grid-template-rows: auto 1fr auto;*/

}

/***** Test SLUT******/





/******* Signature boks på forside START********/

.box_blue {
    background-color: var(--fourteen-color);
    height: 60vw;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

#forside-signature {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.signature-wrapper {
    background-image: url(files/images/city2.jpg);
    height: 60vw;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 50% 0%;
}

#forside-signature .box_blue {
    width: 100%;
    height: 100%;
    padding: 1rem;
    min-height: 400px;

}

#forside-signature .blue-container {
    padding: 5rem;
    margin: auto auto 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
}

#forside-signature h2,
#forside-signature p,
#forside-signature a.knap-cykler {
    color: var(--one-color);
    margin: 1rem;
}

#forside-signature h2 {
    padding-top: 2rem;
    font-size: calc(1.5rem + 3vw);
}

#forside-signature p {
    padding-bottom: 2rem;
}

#forside-signature .card-bottom {
    display: flex;
    justify-content: flex-start;
}

.kategori button {
    color: var(--one-color);
    border: 1px solid var(--one-color);
    margin: 1rem 0;
}

#forside-signature a.knap-cykler {
    text-decoration: none;
    cursor: pointer;
    font-family: futura-pt,
        Arial,
        Helvetica,
        Roboto,
        sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    font-style: normal;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    min-width: 120px;
    color: var(--one-color);
    background: 0;
    border: 1px solid var(--one-color);
}

#forside-signature:hover a.knap-cykler {
    color: var(--five-color);
    background: var(--one-color);


}

/******signature boks på forside SLUT******/


/*------------------------------------*\
8.1 FORSIDE - SLUT
\*------------------------------------*/


/*------------------------------------*\
8.2 CYKLER
\*------------------------------------*/


#cykler {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-gap: 0;
    padding-bottom: 0;
    background: var(--two-color);
    padding: 0;
    grid-template-areas:
        "sidebar"
        "køn"
        "modeller";
}

#cykler .section-header {
    /*    grid-area: hd;*/
    padding: 2.7rem 0;
    background-color: var(--fourteen-color);
    text-align: center;
    color: white;
    background-repeat: no-repeat;

}

#blue-section .header {
    background-image: url(files/images/trekking3.jpg);
    color: white;
    width: 100%;
    height: 100%;
    background-size: 100vw;
    background-position: 0vw;
    text-align: center;
}

#cykler .card-header {
    padding: 1rem 0 0;
    text-transform: uppercase;
}

.card-cykel .card-header {
    text-align: left;
}

.cykelmodel {
    font-size: 1rem;
}

.cykeltype_cykler {
    font-size: 1rem;
}

.koen_cykler {
    text-transform: none;
}


/*
#cykler hr.streg {
    display: none;
    grid-area: line;

    margin: 0 1rem;
    border: 1px solid var(--four-color);

}
*/

#cykler .grid-container {
    grid-area: modeller;
    margin: 1rem;
    padding: 0;
}

#cykler .top {
    grid-area: køn;
    /*
    display: grid;
    vertical-align: middle;
    grid: row;
    align-content: end;
*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem 1rem 0;
}

#cykler .top-tekst {
    display: flex;
    justify-content: center;
    align-items: center;

}

#cykler .top-tekst p {
    display: none;
    max-width: 650px;
    text-align: center;
    font-size: 0.85rem;
}


#cykler .top-knapper {
    grid-area: køn;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
}


.filter-koen {
    color: var(--five-color);
    border: none;
    padding: 0.5rem;
    min-width: initial;
    background: 0;
    /*    background: var(--one-color);*/
    border: 1px solid var(--five-color);
    min-width: initial;
    font-size: 0.85rem;
    transition: 0.4s;

    margin: auto;
    min-width: 80px;
}

.filter-koen:hover {
    color: var(--one-color);
    background: var(--thirteen-color);

}

.sidebar {
    grid-area: sidebar;
    margin: 0;
    position: fixed;
    top: 65px;
    width: 100%;
    z-index: 3;
    top: initial;
    position: static;
}

.sidebar p {
    max-width: none;
}


#cykler .auto-grid {
    --auto-grid-min-size: 140px;

    padding: 0;

}

#cykler .card-cykel {
    /*    padding: 5rem 1rem;*/
    text-align: center;
    background: var(--one-color);
    padding: 0rem 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 0.5rem;
}


#cykler .card-cykel img {
    object-fit: cover;
}

#cykler .card-cykel button {
    color: var(--one-color);
    background: var(--five-color);
    border: 1px solid var(--five-color);
    margin-bottom: 1rem;
    min-width: initial;
    font-size: 0.85rem;
    transition: 0.4s;
}


#cykler .card-cykel button:hover {
    background: 0;
}

#cykler .card-cykel:hover button,
#cykler .card-cykel:focus-within button,
#cykler .card-cykel:active button {
    color: var(--five-color);
    background: 0;
}

#cykler .card-cykel .cykeltype_cykler {
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0;
    color: var(--five-color);
}

#cykler .card-cykel .koen_cykler {
    font-size: 0.85rem;
    color: var(--three-color);
    padding: 0;
}

#cykler .card-cykel .kort {
    font-size: 0.85rem;
    color: var(--three-color);
    padding: 0;
    display: none;
}

#cykler .card-cykel .pris {
    padding: 1rem;
    font-size: 1rem;
    padding: 0 0.1rem;
    font-weight: 700;
    font-size: 0.85rem
}



.filtrering {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 0;
    max-width: 1400px;
    padding: 0rem;
    margin: 0 auto;
    /*
    top: 20vh;
    margin-bottom: 108px;
*/
    background-color: var(--one-color);
    overflow-y: auto;
    max-height: 100vh;
}


#desktop-filtrering {
    display: none;
    color: var(--five-color);
}

#desktop-filtrering h4 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--five-color);
    color: var(--twelve-color);
}

#mobil-collapse {
    padding: 0;
    border-bottom: none;
    padding: 1rem;
    background-color: var(--five-color);
    position: sticky;
    top: 0;
    z-index: 3;
}

#mobil-collapse i.down {
    border-width: 0 4px 4px 0;
    padding: 4px;
    border-color: var(--one-color);
    margin: auto 12px 8px;
}



.collapse-title i.down {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    transition: 0.4s;

}

.collapse-title i.down.active::after {
    transform: rotate(180deg);
}

.filter-model,
.filter-farve {
    color: var(--one-color);
    background: var(--five-color);
    border: 1px solid var(--five-color);
    margin: 1rem;
    transition: 0.25s;
}

.filter-model:hover,
/*.filter-koen:hover,*/
.filter-farve:hover {
    color: var(--five-color);
    background: 0;
}

.accordion .valgt,
.top .valgt {
    color: var(--five-color);
}


.top .valgt {
    color: var(--one-color);
    background: var(--five-color);

}

.top .valgt:hover {
    background: var(--thirteen-color);
}

/* Pile */


button i {
    border: solid var(--twelve-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 3px 8px;
    /*    display: block;*/
}



/* Pile */

/*
button .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
*/

/* Pile - Slut*/



/****** Accordion ******/


#cykler button:focus {
    outline: 0;
}

#cykler button i {
    border: solid var(--five-color);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    margin: 0px 6px 4px;
    display: block;
}

#cykler button:hover i {}


.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.accordion .collapse-title {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    /*    padding: 1rem 3rem 1rem 0rem;*/
    font-weight: 400;
    border-bottom: 1px solid var(--four-color);
    margin: 0;
}


.acc {
    background: inherit;
    font-weight: 700;
    cursor: pointer;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    border: none;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: none;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    border: 0;
    width: 100%;
    min-width: 150px;
    font-weight: 700;
    cursor: pointer;
    min-width: 150px;
    font-weight: 500;
    padding: 0;
    padding: 0 0.05rem 0;
}


.accord {
    background: inherit;
    cursor: pointer;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    border: none;
    width: 100%;
    padding: 0;
    border-bottom: none;
    color: var(--one-color);
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;

}


.accordion-item {
    padding: 0 2rem;
}


/* Roter pile tilbage*/
.rotate_tilbage {
    transform: rotate(0deg);
    transition: 1.5s;
}

.rotate .down {
    transform: rotate(225deg);
}



.accordion .collapse-title:hover,
.accordion .collapse-title:hover::after {
    cursor: pointer;
    color: var(--five-color);
}


.accordion .collapse-title.active {
    color: var(--five-color);
    border-bottom: 1px solid var(--five-color);
}

.accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}

.accordion .content.active {
    opacity: 1;
    padding: 0;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}

.accordion .content.mobil-drop.active {
    padding: 0 0 2rem;

}


/*
.accordion .collapse-title::after {
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
        border: 1px solid var(--twelve-color);
    text-align: center;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    content: "+";
}
*/
/*
.accordion .collapse-title.active::after {
    color: var(--five-color);
    border: 1px solid var(--five-color);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
*/

.accordion-knap {
    all: inherit;
    border: 0;
    width: 100%;
    position: relative;
    padding: 0;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 1px solid var(--twelve-color);
    min-width: 150px;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    border: none;
}

/****** Accordion Slut ******/
/*------------------------------------*\
8.2 CYKLER - SLUT
\*------------------------------------*/



/*------------------------------------*\
8.3 Singleview
\*------------------------------------*/


.single-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: ;
    overflow: auto;
    /*    max-width: 1400px;*/
    padding: 2rem;
    margin: auto;
    padding: 2rem;
    background: var(--one-color);
}

.single-header {
    padding: 1rem 0;
    text-transform: uppercase;
}

.single-header h4 {
    text-transform: uppercase;
    color: var(--five-color);
    padding: 0;
}

.single-content {
    max-width: 800px;
}

/* Vores reponsive tabeller er inspireret af artiklen "Making Tables Responsive With Minimal CSS" fra CSS-Tricks. Link: https://css-tricks.com/making-tables-responsive-with-minimal-css/ */

.luk {
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
    border: none;
    background: 0;
}

.liste {
    padding: 0;
    margin: 0 auto;
}

.fordele_box {
    margin: 0 auto;
}

.title_box {
    background-color: white;
    padding: 10px;
}

.title_box h4 {
    color: var(--five-color);

}

.title_box h5 {
    color: var(--three-color);
    line-height: 1.6;
}

.billede_box {
    align-self: center;
    background-color: white;
}

.pris_box {
    background-color: white;
}

.pris {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    text-align: right;
    padding: 0px 20px 0 0;
    font-size: 1.5rem;

}

.pris_style {
    text-align: right;
    color: #0E7DC7;
    padding: 0 20px 32px;
    font-size: 10px;
}

.praesentation {
    padding: 20px;
    color: var(--three-color);

    /*  Kommentar: Nedstående er udkommenteret for ændre på forholdet i mellem brødtekst og overskrifter */
    /*
    font-size: 1.2rem;
    font-weight: bold;
*/
}

.vmf_box {
    padding: 0 20px;
}

.vaegt,
.maal,
.farve {
    font-weight: bold;
    color: #0E7DC7;
    padding: 5px 10px
}



.singleview_overskrift {
    margin: 30px 20px;
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: center;
}

#singleview .grid_boks {
    max-width: 1400px;
    margin: 0 auto;

}



.fordel1,
.fordel2,
.fordel3,
.fordel4 {
    background-image: url(files/svg/flueben.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    margin: 30px 30px;
    padding: 5px 0 0 70px;
    min-height: 80px;
}


.billedtekst_box {
    margin: -5px 0px 30px 0px;
    height: 120px;
    background-color: var(--five-color);
    color: var(--one-color);
    text-align: center;
    padding: 1rem;

}

.specifikationer {
    margin: 30px 20px;
    font-weight: bold;
    line-height: 50px;
}

.link_box {
    background-image: url(files/images/trekking1.jpg);
    color: white;
    width: 100%;
    height: 100%;
    background-size: 100vw;
    background-position: 0vw;
    background-repeat: no-repeat;
}

.link_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background-color: var(--fourteen-color);
    padding: 10px;
    max-height: 250px;

}

.link_tekst {
    min-width: 250px;
    padding: 10px 30px;
}



.laes_mere_link {
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    font-style: normal;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    min-width: 120px;
    color: var(--one-color);
    background: 0;
    border: 1px solid var(--one-color);
    transition: 0.4s;

}


.laes_mere_link:hover {
    color: var(--five-color);
    background: var(--one-color);
}

@media screen and (min-width: 800px) {


    .singleview_overskrift {
        text-align: center;
        margin: 0;
        padding: 20px 0;
        font-size: 2.5rem;
    }

    .menu_wrapper ul {
        padding-right: 2rem;
    }

    #singleview {
        background-color: white;
    }

    /*her har i sat en højde på, der gør at footeren skraber over*/

    .grid_boks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }


    .title_box {
        grid-area: 1 / 2 / 1 / 2;
        padding: 0 20px;

    }

    .billede_box {
        grid-area: 1 / 1 / 5 / 1;
        margin-left: 50px;
    }

    .pris_box {
        grid-area: 4 / 2 / 4 / 2;
    }

    .praesentation_box {
        grid-area: 2 / 2 / 2 / 2;

    }

    .vmf_box {
        grid-area: 3 / 2 / 3 / 2;
        background-color: white;
    }

    .fordele_box {
        /*        border-top: 1px solid #b1adad;*/
        background-color: #EEEFEF;
        padding-bottom: 50px;
        padding-top: 50px;
    }


    .fordele_overskrift {
        text-align: center;

    }

    .fordele {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
        margin: auto;

    }

    .fordel1,
    .fordel2,
    .fordel3,
    .fordel4 {
        padding: 10px 10px 10px 150px;
        margin: 40px;
        flex-basis: 400px;
        background-size: 20%;
    }


    .billedtekst_box {
        max-width: none;
    }




    .link_tekst {
        margin-right: 90px;
    }

    #cykler .box_blue_cykler {}

    #cykler .section-header {}

}

@media screen and (min-width: 600px) {
    .link_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        background-color: var(--fourteen-color);
        padding: 50px;

    }
}

/*
table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 2rem 0 1rem;
}

table tr {
    background: var(--one-color);
    border-bottom: 1px solid
}

table th,
table td {
    padding: 10px 20px;
}

table td span {
    background: var(--two-color);
    color: var(--three-color);
    display: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;

}

table td p {
    padding: 0;
    text-transform: capitalize;

}
*/





/*------------------------------------*\
8.3 Singleview - SLUT
\*------------------------------------*/

/*------------------------------------*\
8.4 Om Koga Center
\*------------------------------------*/


/*** YouTube Video ***/
.video_wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

#youtube-video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/***** YouTube Video - SLUT *****/

#om_koga_center h1 {
    text-align: center;
    padding: 1rem;
}

#om_koga_center h2 {
    text-align: left;
    padding: 1rem;
}

#om_koga_center {
    background-color: var(--one-color);
}

#om_koga_center .col_right {
    padding: 1rem 0;
}

#historie {
    background-color: var(--two-color);
}

#historie figure {
    padding: 2rem 0;
}


#blue-section .citat1_om {
    text-align: left;
    font-size: 2rem;
}

#blue-section .citat2_om {
    text-align: right;
    font-size: 2rem;
}

#service {
    background-color: var(--one-color);
}

#om {
    background-color: var(--two-color);
}

#om figure {
    max-width: 400px;
    padding: 1.5rem 0;
}


.citat .box_blue h2 {
    font-size: 1.7rem;
}

#blue-section .citat {
    background-image: url(files/images/trekking1.jpg);
    color: white;
    width: 100%;
    height: 160px;
    background-size: 100vw;
    background-position: 0vw;
}

#blue-section .citat .box_blue {
    background-color: var(--fourteen-color);
    padding-top: 2.5vw;

}


#service .kursiv {
    font-style: italic;
}

@media (min-width: 800px) {

    #historie .sectionwrapper {
        flex-direction: row-reverse;

    }

    #signature_1 .sectionwrapper {
        display: flex;

    }

    .signature .citat_tekst {
        margin: 0px;
        text-align: center;
    }

    .citat .box_blue h2 {
        font-size: 2.5rem;
    }


    .citat_tekst {
        margin-left: 250px;
        text-align: center;
    }

    .box_blue h2 {
        font-size: 3rem;
    }

    #om .sectionwrapper {
        flex-direction: row-reverse;
    }


    #om_koga_center h2 {
        margin-left: 1.5rem;
        margin-bottom: 2rem;
    }

    #service figure {
        padding: 1.5rem 0;
    }

}

/*------------------------------------*\
8.4 About - SLUT
\*------------------------------------*/


/*------------------------------------*\
8.5 Kontakt
\*------------------------------------*/

.kontakt-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#kontakt_side {
    background: white;
}

.blue_header {
    background-color: var(--five-color);
    height: 30px;
    width: 100vw;
    margin: 0px;
}

#kontakt_side .aabningstider {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 200px;
    color: var(--twelve-color);
    padding: 0.5rem 1rem;
}


#kontakt_side address {
    padding: 0.5rem 1rem;
    flex-grow: 1;
    flex-basis: 200px;
}

#kontakt_side li,
#kontakt_side li a {
    color: var(--one-color);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--twelve-color);
}

#kontakt_side li a {
    text-decoration: none;
    color: var(--twelve-color);
}

#kontakt_side span.navn {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--twelve-color);
}

#kontakt_side .find a,
#kontakt_side .aabningstider p,
#kontakt_side .footerCykler ul li:first-child,
#kontakt_side .footerCykler ul li:first-child a,
#kontakt_side .lokalitet :first-child {
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--one-color);
    text-transform: uppercase;
    color: var(--twelve-color);
}

#kontakt_side .kontakt_citat {
    background-image: url(files/images/trekking1.jpg);
    color: white;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-size: 100vw;
    background-position: 0vw;
}

#kontakt_side .kontakt_citat .box_blue {
    padding: 5vw;
}


.kort_map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 1rem;
}

#google-maps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 600px;
}

/*------------------------------------*\
8.5 Kontakt - SLUT
\*------------------------------------*/

/*------------------------------------*\
8.6 Signature - START
\*------------------------------------*/


#signature_1 {
    margin-bottom: -10px;
    background-color: var(--one-color);
}


#signature_1 .sectionwrapper iframe {
    max-width: 100%;
}

.knap-cykler_signature {
    text-decoration: none;
    cursor: pointer;
    font-family: futura-pt, Arial, Helvetica, Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    font-style: normal;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    min-width: 120px;
    color: var(--one-color);
    background: var(--five-color);
    border: 1px solid var(--five-color);
    transition: 0.4s;

}

a.knap-cykler_signature:hover {
    color: white;
    background: var(--thirteen-color);
    border: solid var(--five-color) 1px;
}


#signature_2 .col_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signature_2 .col_right img {
    padding-bottom: 40px;
}


/*------------------------------------*\
8.6 Signature - SLUT
\*------------------------------------*/

/*------------------------------------*\
8. STYLING AF SPECIFIKKE SIDER  - SLUT
\*------------------------------------*/











/*------------------------------------*\
9: MEDIA QUERIES
\*------------------------------------*/

@media (min-width: 350px) {
    .test-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "ebike city"
            "trekking racer";
    }

    #cykler .auto-grid {
        --auto-grid-min-size: 150px;
    }

}

@media (min-width: 450px) {

    #splash a.cta,
    #forside a.knap-cykler {
        padding: 0.75rem 2rem;
    }



    /*** Cykler   ***/
    #cykler .auto-grid {
        --auto-grid-min-size: 200px;
    }

    #cykler .card-cykel .kort {
        display: block;
    }

    .cykelmodel {
        font-size: 1.2rem;
    }


    .filter-koen {
        width: 100px;
        margin: 0 0 0 0.5rem;

    }
}


@media (max-width: 800px) {

    .dropdown .dropbtn {
        display: none;
    }

    /* Der tilføjes en class ("change") til topnav vha. JavaScript, når der klikkes på menuknappen. */
    .topnav.responsive {
        position: relative;
        background-color: var(--twelve-color);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: block;
    }

    .topnav.responsive .menu_wrapper li,
    .topnav.responsive .menu_wrapper li a {
        font-size: calc(1rem + 1vw);
        background-color: inherit;
    }

    .menu_wrapper ul {
        flex-direction: column;
    }

    .menu_wrapper {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap;
        flex-direction: column;

    }

    .menu_wrapper li a {
        color: var(--one-color);
    }



    .menu_wrapper li {
        margin: 1rem;
    }



    .topnav.responsive .dropdown {
        width: 100%;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: center;
    }

    .responsive .dropbtn,
    .dropbtn {
        background-color: var(--one-color);
        color: white;

    }

    .dropdown:hover .dropbtn {
        background: inherit;
    }


    .topnav responsive a:hover,
    a.menubtn:hover {
        /*
        background: var(--one-color);
        color: var(--two-color);
*/
    }

    .dropdown-content a.menubtn:hover {
        background: #2C2C2C;
    }

    /* Tabeller på mobil */
    @media(max-width: 800px) {
        table thead {
            left: -9999px;
            position: absolute;
            visibility: hidden;
        }

        table tr {
            border-bottom: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        table td {
            border: 1px solid;
            margin: 0 -1px -1px 0;
            padding-top: 35px;
            position: relative;
            width: 50%;
            font-size: 0.9rem;
        }

        table td span {
            display: block;
        }
    }

}

.topnav.responsive .menu_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 15vh 0;
}

@media (min-width: 640px) {

    #splash a.cta,
    #forside a.knap-cykler {
        font-size: 1rem;
    }


    #video-bg {
        position: relative;
        right: 0;
        bottom: 0;
        top: 0px;
        width: 100vw;

    }

    .col_left,
    .col_right {
        margin: 0 2.5rem;
    }



    #forside .card-header,
    #forside .card-bottom {
        margin: 1rem 0;
    }

    #forside .box_blue h2 {
        text-align: left;
    }

    #forside .box {
        padding: 8rem 0;
    }

    .menu_wrapper {
        color: var(--one-color);
        background-color: var(--twelve-color);
    }


    #splash .wrapper {
        top: -50px;
        left: 20px;
    }

    #splash .wrapper img {
        min-width: 400px;
        max-width: 25%;
    }


    #forside .card-forside p {
        display: block;

    }


    #forside p {
        font-size: 1rem;
    }

    .kontakt-wrapper {
        flex-direction: initial;

    }


    /***    Cykler ***/



    #cykler .card-cykel button {
        font-size: 1rem
    }

    #cykler .card-cykel {
        padding: 1rem 2rem;
    }


    #cykler .auto-grid {
        --auto-grid-min-size: 240px;

    }

}


@media screen and (min-width:800px) {

    #forside .card-header h4 {
        font-size: 2rem;
    }

    #blue-section .citat1_om {
        text-align: left;
        font-size: 2rem;
        margin-left: 100px;
    }

    #blue-section .citat2_om {
        text-align: right;
        font-size: 2rem;
        margin-right: 100px;
    }


    #splash_arrow {
        background-image: url(files/svg/arrow_scroll_ned_hvid.svg);
        width: 40px;
        height: 24px;
        background-size: 100%;
        position: absolute;
        z-index: 1;
        top: 90%;
        left: 48%;
    }

    .pulse {
        animation-name: pulse_kf;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate-reverse;
    }

    @keyframes pulse_kf {
        0% {
            transform: scale(1);

        }

        100% {
            transform: scale(1.1);
        }
    }

    .bund_links {
        display: none;
    }


}

@media only screen and (min-width: 800px) {


    li.menu_ikon {
        padding-left: 0.5rem;
    }

    #forside h1 {
        font-size: 3rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
    }

    .col_right_service {
        margin-top: 6rem;
    }

    .topnav .menuknap {
        display: none;
    }

    #om img {
        height: auto;
        width: 100%;
    }

    .responsive .bar1,
    .responsive .bar2,
    .responsive .bar3 {}

    .menuTop {
        background-color: rgba(255, 255, 255, 0.97);
    }

    .searchButton {
        filter: invert(44%) sepia(6%) saturate(553%) hue-rotate(163deg) brightness(94%) contrast(94%);
    }



    /*Hover Animationer -> Header Menu */

    .menu_wrapper li > a.underline:hover {
        /*        color: var(--five-color);*/
    }


    .menu_wrapper li > a.underline:before background-color: var(--five-color);

}

/*Hover Animationer -> Header Menu  - SLUT*/


/* kontaktside */


.kontakt_citat p {
    font-size: 2rem;
}


#signature_1 figure {
    margin-top: 100px;
}

#signature_2 h2 {
    font-size: 2rem;
}

.citat1_signature h2 {
    text-align: center;
}

#signature_1 .sectionwrapper iframe {
    margin-top: 100px;
}

#breadcrumbs {
    display: block;
}

/***    Cykler ***/


#cykler {
    padding: 0 0 2rem;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "køn      køn   køn   køn"
        "sidebar modeller modeller modeller";
}

#cykler .top-tekst p {
    display: block;
    padding: 0 0 1rem;
}

.filter-koen {
    margin: 0 0 1rem 0.5rem;
}

.filter-koen:last-child button.top-knapper {
    margin: 0 0.5rem 0 0;
}

#mobil-filtrering {
    display: none;

}

#desktop-filtrering {
    display: grid;
}


#desktop-filtrering {
    top: 20vh;
    margin-bottom: 108px;
}

.sidebar {
    grid-area: sidebar;
    margin: 0 1rem 1rem;
    top: 65px;
    width: 100%;
    background-color: inherit;
    top: initial;
    position: static;
}

#cykler .grid-container {
    margin: 0 1rem 1rem;

}

.filtrering {
    padding: 2rem;
}

.accordion-item {
    padding: 0;
}

#cykler .auto-grid {
    --auto-grid-min-size: 220px;

}

#cykler .card-cykel {
    grid-row-gap: 1rem;
}

/***** Singleview *****/
#singleview .title_box h4 {
    font-size: 1.5rem;
}

#singleview .title_box h5 {
    font-size: 1.2rem;
}

/***** Singleview - Slut *****/

}

@media only screen and (min-width: 1000px) {

    #splash p {}

    #splash .wrapper {
        grid-row-gap: 1rem;
    }

    #splash .wrapper img {
        min-width: 450px;

    }

    #splash p {
        display: block;
        font-size: 1rem;
    }

    #cykler .auto-grid {
        --auto-grid-min-size: 268px;

    }

    /*  Grid på Forside */
    .test-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "ebike city trekking racer";
    }


}

@media only screen and (min-width: 1200px) {

    #splash p {
        max-width: 500px;
    }

    #splash .wrapper img {
        min-width: 500px;

    }

    #splash .wrapper {
        grid-row-gap: 1.5rem;
    }

    .kontakt-wrapper {
        flex-direction: column;
    }

}

/*------------------------------------*\
9: MEDIA QUERIES - SLUT
\*------------------------------------*/
